<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="20" >
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">
        body { background: #ffc107 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
     </style>
    <title>BDEA Word Count</title>
  </head>
  <body class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <h1>Spark Word Cloud</h1>
    <p>This web application allows you to upload txt files to create word clouds based on term and document frequency</p>
    <form method="POST" action="/" enctype="multipart/form-data">
        <h2>Step 1: Select & Upload File(s)</h2>
        <div>
            <label for="formFileLg" class="form-label">Please upload your txt files here:</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" name="files[]" accept=".txt"multiple>
            <button type="submit" value="Upload" name="file_upload_button" class="btn btn-dark m-2">Upload File(s)</button>
        </div>
        <h2>Step 2: Select Operation</h2>
        <div>
            <button type="submit" name="start_bj" class="btn btn-dark m-2">Run Batch Job</button>
            <button class="btn btn-dark m-2" onClick="window.location.reload();">Refresh Page</button>
            <button type="submit" value="Remove" name="rm_uploads" class="btn btn-dark m-2">Remove File(s)</button> 
        </div>
        <h2>Step 3: Check your Output</h2>
    </form>
    <div>
      <div>
        {% if not os.path.exists('./wordclouds/global.png') and bj_started %}
                  <img src="{{ url_for('static', filename='loading.gif') }}" width="50"/>
              {% endif %}
              {% if os.path.exists('./wordclouds/global.png') %} 
              <ul class="list-group bg-transparent">
                <li class="list-group-item bg-transparent">
                  <img src="{{ url_for('static', filename='global.png') }}"/>
                </li>
              </ul>
            {% endif %}
      </div>
      <div>
        <ul class="list-group bg-transparent">
          {%- for item in tree.children recursive %}
          <li class="list-group-item bg-transparent">
            <form method="post" action="/">
              <div class="d-inline-block">
                <h2>Filename: {{ item.name }}</h2>
              </div>
                {% if not os.path.exists('./wordclouds/' + os.path.splitext(item.name)[0] + ".png") %}
                  <img src="{{ url_for('static', filename='loading.gif') }}" width="50"/>
                {% endif %}
              <div class="d-block">
              <button type="submit" value="{{ item.name }}" name="delete_file_button" class="btn btn-dark m-2">Delete</button>
              <button type="submit" value="{{ item.name }}" name="toogle_tc_button" class="btn btn-dark m-2">Toggle Tag Cloud</button>
            </div>
            </form>
            {% if os.path.exists('./wordclouds/' + os.path.splitext(item.name)[0] + ".png") and current_wc == item.name %} 
              <img src="{{ url_for('static', filename=wc_image[item.name]) }}" alt="{{ wc_image[item.name] }}" />
            {% endif %}
          </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
